site_name: stactools-met-office-deterministic
site_description: Python package for generating STAC metadata for the Met Office Deterministic Numerical Weather Prediction model
site_url: https://stactools-packages.github.io/met-office-deterministic/
repo_name: stactools-packages/met-office-deterministic
repo_url: https://github.com/stactools-packages/met-office-deterministic

theme:
  name: material
  logo: https://avatars.githubusercontent.com/u/85639751?s=200&v=4
  favicon: https://avatars.githubusercontent.com/u/85639751?s=200&v=4
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy

nav:
  - Home: index.md
  - API:
      - Overview: api/index.md
      - stac: api/stac.md
      - href: api/href.md
      - constants: api/constants.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - toc:
      permalink: true

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_signature_annotations: true
            separate_signature: true
            merge_init_into_class: true
            show_root_full_path: false

extra_css:
  - stylesheets/extra.css
