name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  python-matrix:
    name: python-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.*"
          python-version: ${{ matrix.python-version }}
      - name: Lint
        run: uv run pre-commit run --all-files
      - name: Test
        run: uv run pytest
  min-versions:
    name: min-versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.*"
      - name: Test
        run: uv run --resolution lowest-direct pytest
