name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  pypi:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.*"
      - name: Create virtual environment
        run: uv venv
      - name: Install dependencies
        run: uv pip install build
      - name: Build package
        run: uv run python -m build
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
